/* 컬러 변수지정  */
html {
  --sp-colors-accent: #087ea4;
  --sp-colors-clickable: #959da5;
  --sp-colors-disabled: #24292e;
  --sp-colors-error: #811e18;
  --sp-colors-error-surface: #ffcdca;
  --sp-colors-surface1: #fff;
  --sp-colors-surface2: #e4e7eb;
  --sp-syntax-color-plain: #24292e;
  --sp-syntax-color-comment: #6a737d;
  --sp-syntax-color-keyword: #d73a49;
  --sp-syntax-color-tag: #22863a;
  --sp-syntax-color-punctuation: #24292e;
  --sp-syntax-color-definition: #6f42c1;
  --sp-syntax-color-property: #005cc5;
  --sp-syntax-color-static: #032f62;
  --sp-syntax-color-string: #032f62;
}
span {
  margin: 1px;
}
.cm-line {
  --sp-space-5: 20px;
  padding-left: var(--sp-space-5);
  margin-top: 1px;
}
.code-editer {
  width: 100px;
  flex-grow: 2;

  font-family: Source Code Pro, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
  font-size: 13.3px;
  line-height: 23px;
  padding: 15px;
  -webkit-font-smoothing: auto;
}
/* 컬러지정  */
.sp-syntax-keyword {
  color: var(--sp-syntax-color-keyword);
}
.sp-syntax-definition {
  color: var(--sp-syntax-color-definition);
}
.sp-syntax-property {
  color: var(--sp-syntax-color-property);
}
.sp-syntax-property {
  color: var(--sp-syntax-color-property);
}
.sp-syntax-string {
  color: var(--sp-syntax-color-string);
}
.sp-syntax-tag {
  color: var(--sp-syntax-color-tag);
}

.hover {
  background-color: rgb(255, 255, 221);
}

/* ==========================
      summaryRgintBox css 
   ==========================*/

.shadow-nav {
  color: rgb(64 71 86 / var(--tw-text-opacity));
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  /* 변수컬러 */
  --tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),
    0 0 0 1px var(--tw-shadow-color);
  --tw-text-opacity: 1;
}
.via-blue-50 {
  background-image: linear-gradient(#2b3491, #087ea4);
}

.text-red-50 {
  --tw-text-opacity: 1;
  color: rgb(166 66 58 / var(--tw-text-opacity));
}
.text-tertiary {
  --tw-text-opacity: 1;
  color: rgb(94 104 126 / var(--tw-text-opacity));
}

/* 버튼에 마우스를 올리면 적용되는 스타일 */

.hover\:bg-card:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(246 247 249 / var(--tw-bg-opacity));
}

.focus\:text-red-50:focus {
  --tw-text-opacity: 1;
  color: rgb(166 66 58 / var(--tw-text-opacity));
}
.focus\:bg-red-50\/5:focus {
  background-color: rgba(166, 66, 58, 0.05);
}

.text-red-50\/50 {
  color: rgba(166, 66, 58, 0.5);
}
/* 하트 백그라운드 배경  */
.line circle {
  color: rgba(166, 66, 58, 0.5);
  transform-origin: center;
  animation: circle 0.3s forwards;
}

.animate-\[scale_\.35s_ease-in-out_forwards\] {
  animation: wave 0.35s ease-in-out forwards;
}
.origin-center {
  transform-origin: center;
}

/* codeEditor hover 됐을 시 */
.bg-blue-30\/5 {
  background-color: rgba(88, 196, 220, 0.05);
}
.border-link {
  --tw-border-opacity: 1;
  border-color: rgb(8 126 164 / var(--tw-border-opacity));
}

/* 애니메이션  */
@keyframes wave {
  0% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle {
  0% {
    transform: scale(0);
    stroke-width: 16px;
  }
  50% {
    transform: scale(0.5);
    stroke-width: 16px;
  }
  100% {
    transform: scale(1);
    stroke-width: 0px;
  }
}

/* 반응형 쿼리  374px*/
@media (min-width: 374px) {
  .rightbox-container-padding {
    padding: 1.25rem;
  }
  .xs\:w-36 {
    width: 9rem;
  }
}
/* 반응형 쿼리  1024px*/
@media (min-width: 1024px) {
  .rightbox-container-padding {
    margin-top: -5rem;
    margin-bottom: -5rem;
  }
}
