/* 전체 공간 CSS */
.summary-news-wrap {
    margin: 8rem 0;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
}
.summary-news-outsidebox {
    padding: 0 1.25rem;

}
.summary-news-insidebox {
    flex-direction: column;
    max-width: 48rem;
    padding: 0 1.25rem;
    grid-gap: 1.25rem;
    gap: 1.25rem;
}

/* 왼쪽 공간 시작 */
.summary-news-left-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
    max-width: 48rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 2.5rem;
}
.summary-news-left-box>h2 {
    text-align: left !important;
}
.summary-news-text-box {
    font-size: 17px;
    max-width: 48rem;

    font-weight: 400;

    --tw-text-opacity: 1;
    color: rgb(64 71 86/var(--tw-text-opacity));
}
.summary-news-text-box-bottom {
    padding-top: 1.25rem;
}

/* 오른쪽 공간 시작 */
.summary-news-right-box {
    width: 50%;
    max-width: 48rem;
    flex-wrap: wrap;

}
.summary-news-p-color{
    --tw-text-opacity: 1;
    color: rgb(94 104 126/var(--tw-text-opacity));
}
.summary-news-items {
    text-align: start;
    grid-gap: 1.25rem;
    gap: 1.25rem;
    margin: 1.25rem auto;
}
.summary-news-item-container>a {
    color: inherit;
    text-decoration: inherit;
}
.summary-news-item-box {
    box-sizing: border-box;
    flex-direction: column;
    padding: 1.25rem;

    color: inherit;
    text-decoration: inherit;
    --tw-shadow: inset 0 0 0 1px #d9dbe3;
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.summary-news-item-box:hover {
    background-color: #EFF0F3;
}
.summary-news-item-first-text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.375;
    margin-bottom: 1rem;
    flex: 1 1;
}
.summary-news-item-first-text:hover {
    text-decoration: underline;
    color: inherit;
}
.summary-news-item-second-text {
    --tw-text-opacity: 1;
    color: rgb(94 104 126/var(--tw-text-opacity));
}

/* 반응형 웹 */
@media (min-width: 1024px) {
    .summary-news-insidebox {
        flex-direction: row;
        max-width: 80rem;
        flex-direction: row;
    }

    .summary-news-text-box {
        font-size: 20px;
    }

    .summary-news-text-box-bottom>.lower-button-box {
        justify-content: flex-start !important;
    }

    .summary-news-item-first-text {
        font-size: 28px;
    }
}