.DocSearch-Container {
	display: flex;
    justify-content: center;
    background-color: rgba(52,58,70,.8);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 200;
    box-sizing: border-box;
}
	@media (max-width: 750px) {
		.DocSearch-Container {
		    height: 100vh;
		    position: absolute;
		}
	}

.DocSearch-Modal {
    max-width: 48rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

	@media (max-width: 1024px) {
		.DocSearch-Modal {
		    border-radius: 0;
		    margin-top: 0;
		    margin-bottom: 0;
		    max-width: 100%;
		}	
	}

.DocSearch-SearchBar {
    padding: .75rem 1.25rem;
	display: flex;
}

.DocSearch-Form {
    height: 2.5rem;
    border-radius: 9999px;
    box-shadow: 0 0 #0000 , 0 0 #0000, 0 0 #0000;
    font-size: 15px;
    color: #5e687e;
    background: #ebecf0 !important; 
    align-items: center;
    background: #fff;
    display: flex;
    margin: 0;
    padding: 0 12px;
    position: relative;
    width: 100%;
}

.DocSearch-MagnifierLabel {
	align-items: center;
    justify-content: center;
}

.DocSearch-MagnifierLabel svg {
	width: 15px;
    height: 15px;
    color: #99a1b3;
    margin-left: .25rem;
    margin-right: .25rem;
    stroke-width: 1.6;
}

.DocSearch-LoadingIndicator svg {
    width: 15px;
    height: 15px;
    color: #99a1b3;
    margin-left: .25rem;
    margin-right: .25rem;
}

.DocSearch-Input {
    outline-offset: -2px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-inline-start: .5rem;
    padding-inline-end: 0;
    font-size: 15px;
    line-height: 1.25;
    appearance: none!important;
    background: transparent;
    border: 0;
    flex: 1 1;
    height: 100%;
    outline: none;
    padding: 0 0 0 8px;
    width: 80%;
}

.DocSearch-Input::-webkit-search-cancel-button {
    -webkit-appearance:none;
}

.DocSearch-Reset {
    animation: fade-in .1s ease-in forwards;
    cursor: pointer;
    padding: 2px;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    color: #99a1b3;
}

.DocSearch-Reset svg {
    background: transparent;
    display: block;
    vertical-align: middle;
}

.DocSearch-Reset:hover {
    color: #087ea4;
}

.DocSearch-LoadingIndicator, .DocSearch-MagnifierLabel, .DocSearch-Reset {
	margin: 0;
	padding: 0;
}

.DocSearch-Cancel {
    display: none;
    padding-inline-start: 1.25rem;
    margin-inline-start: 0;
    font-size: 15px;
    color: #087ea4;
    font-weight: 400;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
	.DocSearch-Cancel {
    	display: inline-block;	
	}
}

.DocSearch-Dropdown {

}

.DocSearch-StartScreen {

}

.DocSearch-Help {

}

.DocSearch-Footer {

}

.DocSearch-Logo {

}

.DocSearch-Label {

}

.DocSearch-Commands {

}

.DocSearch-Commands-Key {

}
