*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

/* 가로폭 설정 */
.w-full {
    width: 100%;
}

.w-auto {
    width: auto;
}

/* 세로폭 설정 */
.h-full {
    height: 100%;
}

.footer-content-container {
    display: flex;
    flex-direction: column;
    background-image: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);
}

.footer-content-wrap {
    display: flex;
    flex-grow: 1;
    grid-gap: 0.5rem;
    gap: 0.5rem;
}

.footer-content-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
}

.footer-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text-wrap {
    display: flex;
    flex-direction: column;
    max-width: 56rem;
}

.footer-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 56rem;
}

.padding1-25rem {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.footer-text-h2 {
    margin: -1rem 0 1.75rem;
    line-height: 1.15;
    font-size: 40px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(35 39 47/var(--tw-text-opacity));
}

.footer-text-p {
    line-height: 1.5;
    margin: 0;
    max-width: 48rem;


    font-size: 20px;
    --tw-text-opacity: 0.9;
    color: rgb(64 71 86 / var(--tw-text-opacity));
}

/* 글자부분 끝 */

/* 슬라이드 부분 시작 */
.wrap {
    display: flex;
    position: relative;
    width: auto;
    overflow-x: hidden;
    overflow-y: visible;

}

.rolling-list {
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-shrink: 0;
}

.wrap .rolling-list ul {
    display: flex;
}

.wrap .rolling-list ul li {
    box-sizing: border-box;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-shrink: 0;
    width: 50%;
    ;

}

.image-wrap {
    display: inline-block;
    position: relative;
}

.image-rounded {
    border-radius: 1rem;
}

.image-size {
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    flex-shrink: 0;
}

/* 애니메이션 클래스 */
/* 1번 0~ */
.footer-animation-marquee {
    -webkit-animation: marqueeSlider 50s linear infinite;
    animation: marqueeSlider 50s linear infinite;
}


/* 2번 200~*/
.footer-animation-marquee2 {
    -webkit-animation: marqueeSlider2 50s linear infinite;
    animation: marqueeSlider2 50s linear infinite;
}


.footer-slider-container .footer-img-box {
    height: auto;
}

.footer-slider-container .footer-deg\+2 {
    rotate: 2deg;
    transition: all 0.2s ease;
}

.footer-slider-container .footer-deg\+2:hover {
    transform: rotate(-3deg) scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.footer-slider-container .footer-deg-2 {
    rotate: -2deg;
    transition: all 0.2s ease;
}

.footer-slider-container .footer-deg-2:hover {
    transform: rotate(3deg) scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* bottom react logo svg and button */
.content-bottom-box {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    max-width: 56rem;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.footer-react-logo {
    display: block;
    height: auto;
    width: 6rem;

    margin-top: 3rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-start-button {
    background-color: rgb(8, 126, 164);
    color: white;

    padding: 0.75rem 1.5rem;
    border-radius: 9999px;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: inherit;

    font-weight: 700;
    font-size: 17px;
    line-height: 1.375;
    user-select: none;
    cursor: pointer;
}

.footer-start-button:hover {
    background-color: rgb(78, 151, 180);
}

.footer-start-button:active {
    transform: scale(0.98);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .15s;
}

/* footer Content end */
/* footer bottom start */
.footer-bottom-wrap-padding {
    padding: 3rem 1.25rem;
}

.footer-bottom-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    grid-row-gap: 2rem;
    row-gap: 2rem;
    grid-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;

    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
}

.footer-flex {
    display: flex;
}

.footer-flex-col {
    flex-direction: column;
}

/* .footer-flex-box{
    display: flex;
    flex-direction: column;
} */
.footer-bottom-item-title {
    display: inline-block;
    --tw-text-opacity: 1;
    color: rgb(64 71 86/var(--tw-text-opacity));
    cursor: pointer;

    font-weight: 700;

    border-color: transparent;
    border-bottom-width: 1px;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-bottom-text-xs {
    font-size: 11px;
    text-align: left;
    margin-top: 0.5rem;
    -webkit-padding-end: 0.125rem;
    padding-inline-end: 0.125rem;
}

.footer-grid-text-sm {
    font-size: 13px;
    --tw-text-opacity: 1;
    color: rgb(35 39 47/var(--tw-text-opacity));
    border-color: transparent;
    border-bottom-width: 1px;
    display: inline-block;
    cursor: pointer;
}

.footer-text-border-bottom:hover {
    --tw-border-opacity: 1;
    border-color: rgb(235 236 240/var(--tw-border-opacity));
}

.footer-grid-box-1 {
    justify-items: start;
    margin-top: 0.875rem;
    grid-column: span 2/span 2;
}

.footer-bottom-logo {
    grid-column-gap: 0.5rem;
    column-gap: 0.5rem;
    margin-top: 2rem;
}

.footer-bottom-logo svg:hover {
    fill: rgb(2, 2, 2);
}





/* footer bottom end */
/* 반응형 웹 */
@media (min-width: 640px) {
    .footer-bottom-wrap-padding {
        padding: 3rem;
    }
}

@media (min-width: 768px) {
    .footer-bottom-wrap-padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .footer-bottom-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .footer-grid-box-1 {
        grid-column: 1/ 1
    }

    .footer-grid-box-4 {
        grid-column-start: 2;
    }
}

@media (min-width: 1024px) {
    .footer-content-box {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .footer-text-p {
        text-align: center;
    }

    .footer-text-h2 {
        font-size: 52px;
        max-width: 36rem;
        text-align: center;
    }

    .footer-slider-container {
        min-width: 25%;
    }

    .wrap .rolling-list ul li {
        width: 25%;
    }

    .rolling-list {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .content-bottom-box {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-react-logo {
        width: 7rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    /* footer bottom css start */
    .footer-bottom-wrap-padding {
        padding-top: 0;
        padding-bottom: 3.5rem;
    }


}

@media (min-width: 1280px) {
    .footer-bottom-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .footer-grid-box-4 {
        grid-column-start: 4;
    }
}

/* 애니메이션 */
@keyframes marqueeSlider {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes marqueeSlider2 {
    0% {
        transition: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}