/*  ==============================   
    ===  content-main-platform ===
    ============================== */
.content-main-platform {
  flex-direction: row;
  grid-gap: 1.25rem;
  gap: 1.25rem;

  margin: 0 2rem 4rem 2rem;
}

/* ===============================
          platfrom left box 
   ===============================*/

.platform-leftbox {
  display: flex;
  position: relative;
  margin-bottom: 5rem;
}
.platform-leftbox-webbox {
  position: relative;
  overflow: hidden;

  width: 100%;
  /* max-width: 48rem; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  -tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),
    0 0 0 1px var(--tw-shadow-color);
}
.platform-leftbox-webbox-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
  grid-gap: 0.5rem;
  gap: 0.5rem;

  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 0.9;
  --tw-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 0 0 1px var(--tw-shadow-color);
  --tw-backdrop-blur: blur(16px);
  --tw-backdrop-saturate: saturate(2);
}
.example-nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  width: 100%;
  height: 2rem;
  user-select: none;
  border-radius: 9999px;
  text-align: center;
  font-size: 13px;

  background-color: rgba(153, 161, 179, 0.2);
  --tw-text-opacity: 1;
  color: rgb(94 104 126 / var(--tw-text-opacity));
}
.example-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.375;
  width: 100%;
}
.example-nav > img {
  display: block;
  /* vertical-align: middle; */
  opacity: 0.5;
  --tw-text-opacity: 1;
  color: rgb(94 104 126 / var(--tw-text-opacity));
}
.example-nav > span {
  --tw-text-opacity: 1;
  color: rgb(153 161 179 / var(--tw-text-opacity));
}
.platform-leftbox-webbox-collection {
  display: flex;
  flex: 1 1;
  height: 100%;
}
.platform-leftbox-webbox-textbox {
  position: relative;
  overflow: hidden;
}
.platform-leftbox-webbox-textbox:nth-child(1) {
  /* position: absolute; */
  inset: 0;
  background-image: conic-gradient(
    from -90deg at 110% 100%,
    #fff 0deg,
    #ebecf0 90deg,
    #ebecf0 1turn
  );
}
.second-leftbox-webbox {
  position: relative;
  width: 100%;
  height: 3.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.third-leftbox-webbox {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: relative;
  grid-gap: 0.75rem;
  gap: 0.75rem;

  padding: 1.25rem 1.25rem 5rem 1.25rem;
}
.third-leftbox-webbox > h4 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  --tw-text-opacity: 1;
  color: rgb(35 39 47 / var(--tw-text-opacity));
}
.third-leftbox-webbox > p {
  margin: 0;
  line-height: 1.5;

  --tw-text-opacity: 0.9;
  color: rgb(64 71 86 / var(--tw-text-opacity));
  margin-top: 8px;
}

.platform-leftbox-svg-collection {
  position: absolute;
  bottom: -2rem;
  z-index: 10;
  width: 100%;
}
.platform-leftbox-svg {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-gap: 0.75rem;
  gap: 0.75rem;
}
.svg {
  display: block;

  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),
    0 0 0 1px var(--tw-shadow-color);
}

/* ==================================
   =========== Right Box ============
   ================================== */
.second-rightbox-webbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0.75rem;

  width: 100%;
  height: 3.5rem;
  margin-bottom: -0.625rem;

  --tw-text-opacity: 0.6;
  color: rgb(94 104 126 / var(--tw-text-opacity));
}

.second-rightbox-webbox > span {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(94 104 126 / var(--tw-text-opacity));
  margin-left: 1rem;
}
.platform-rightbox-webbox-collection {
  border-radius: 1rem;
  padding: 0.625rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),
    0 0 0 1px var(--tw-shadow-color);
  --tw-bg-opacity: 1;
  background-color: rgb(22 24 29 / var(--tw-bg-opacity));
}

.platform-rightbox-webbox-textbox {
  border-radius: 0.5rem;
  --tw-text-opacity: 0.5;
  color: rgb(94 104 126 / var(--tw-text-opacity));
}
.third-leftbox-webbox > p > a {
  display: inline;
  border-bottom-width: 1px;
  text-decoration: inherit;
  line-height: 1.5;

  --tw-text-opacity: 1;
  color: rgb(8 126 164 / var(--tw-text-opacity));
  --tw-border-opacity: 0;
  border-color: rgb(8 126 164 / var(--tw-border-opacity));
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.third-leftbox-webbox > p > a:hover {
  --tw-border-opacity: 1;
}
.svg-ios {
  margin-right: 10px;
}
.leftbox-nav-svg {
  display: flex;

  grid-gap: 0.5rem;
  gap: 0.5rem;
  margin-top: -0.125rem;
  margin-right: 1rem;
}

/* 반응형 1024px */
@media (min-width: 1024px) {
  .content-main-platform {
    display: flex;
    /* grid-gap: 5rem; */
    /* gap: 5rem; */

    max-width: 80rem;
    margin: 4rem auto 1rem auto;
    padding-left: 0 1.25rem;
  }
  .platform-leftbox {
    width: 50%;
  }
  .third-leftbox-webbox {
    padding: 2.5rem 2.5rem 5rem 2.5rem;
  }
  .third-leftbox-webbox > h4 {
    font-size: 32px;
  }
  .third-leftbox-webbox > p {
    font-size: 20px;
  }
  .platform-leftbox-svg-collection {
    bottom: -2.5rem;
  }
  .svg {
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
  }
}
