* {
  box-sizing: border-box;
  border: 0px solid #e5e7eb;
}

/* ========================= 
   ==== video container ====
   =========================*/

.content-container-video {
  display: flex;
  position: relative;
  justify-content: center;
  flex-grow: 1;

  width: 100%;
  /* margin-top: 0; */
  padding: 0.625rem;
  line-height: 1.5;
}
.content-main-video {
  overflow: hidden;
  overflow-y: auto;

  width: 100%;
  max-width: 48rem;
  height: 113px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1rem;

  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),
    0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* ============================= 
   ==== videoList container ====
   =============================*/

.content-container-videolist {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  width: 95%;
  margin-top: 0;
  padding: 1.425rem;
  line-height: 1.5;
}
.content-main-videolist {
  overflow: hidden;
  overflow-y: auto;

  width: 100%;
  max-width: 48rem;
  height: 22rem;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1rem;

  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),
    0 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* ============================= 
   ==== searchable container ====
   =============================*/

.content-container-searchable {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;

  width: 100%;
  padding: 0.625rem;
  margin-top: 0;
}
.content-main-searchable {
  position: relative;
  overflow: hidden;

  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 16px 32px -16px var(--tw-shadow-color),
    0 0 0 1px var(--tw-shadow-color);
}

/*  example.com/video.html */
.example-nav-container {
  display: flex;
  flex-wrap: row;
  align-items: center;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  overflow: hidden;

  position: absolute;
  top: 0;
  z-index: 10;

  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-backdrop-saturate: saturate(2);
  --tw-backdrop-blur: blur(16px);
  --tw-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 0 0 1px var(--tw-shadow-color);
  --tw-bg-opacity: 0.9;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.example-nav-contantbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  width: 100%;
  height: 2rem;
  user-select: none;
  border-radius: 9999px;

  background-color: rgba(153, 161, 179, 0.2);
  text-align: center;
  font-size: 13px;

  --tw-text-opacity: 1;
  color: rgb(94 104 126 / var(--tw-text-opacity));
}

.example-nav-textbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.375;

  width: 100%;
}
.text-gray-30 {
  --tw-text-opacity: 1;
  color: rgb(153 161 179 / var(--tw-text-opacity));
}

/* example-main-container */

.example-main-container {
  height: 33rem;
  background-color: white;
}
/* 반응형  */
@media (min-width: 374px) {
  .content-container-searchable,
  .content-container-video,
  .example-nav-container {
    padding: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .content-container-searchable,
  .content-container-video {
    padding: 1.5rem;
    margin-top: -5rem;
    margin-bottom: -5rem;
  }
}
