/* 수치 변수지정  */
html {
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
}
/* ===============================
  ==   summaryButtonNews  ==
  ===============================*/

/* [231021] summary-news : 정은우 */

:is(.dark .dark\:summary-news-primary-text-dark){
    color: rgb(246 247 249/var(--tw-text-opacity));
}
:is(.dark .dark\:summary-button-news-sub-text-dark){
    color: rgb(235 236 240/var(--tw-text-opacity));
}
:is(.dark .dark\:summary-news-button-stroke-dark){
    --tw-shadow: inset 0 0 0 1px #404756;
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

/* 왼쪽 공간 시작 */
.summary-news-text {
    color: rgb(64 71 86/var(--tw-text-opacity));
}
:is(.dark .dark\:summary-news-primary-text-dark){
    color: rgb(246 247 249/var(--tw-text-opacity)) !important;
}
.hover-summary-news-button-bg:hover{
    background-color: rgba(120,131,155,.05);
}
.hover-summary-news-button-bg:active{
    background-color: rgba(120,131,155,.1);
}
/* 오른쪽 공간 시작 */
:is(.dark .dark\:summary-button-news-subtext-color){
    color: rgb(153 161 179/var(--tw-text-opacity));
}
.summary-news-item-container>a {
    color: inherit;
    text-decoration: inherit;
}
.summary-news-button-stroke{
    --tw-shadow: inset 0 0 0 1px #d9dbe3;
    --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.summary-news-p-color{
    color: rgb(94 104 126/var(--tw-text-opacity));
}
.summary-news-item-box:hover {
    background-color: #EFF0F3;
}
.summary-news-item-first-text:hover {
    text-decoration: underline;
    color: inherit;
}
.summary-news-item-second-text {
    color: rgb(94 104 126/var(--tw-text-opacity));
}
/* summaryButtonNews CSS end */
/* arrow right move 관련 css */
.middle-line {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
    transition-duration: 150ms;
  }
  
  .summary-news-lower-btn>a:hover .middle-line {
    opacity: 1;
  }
  
  .arrow-right-move {
    transform: translateX(-8px);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  
  }
  .summary-news-lower-btn>a:hover .arrow-right-move
  {
    transform: translateX(8px);
  }
/* 반응형 웹 */
@media (min-width: 1024px) {
    .summary-news-left-h2{
        font-size: 52px;
    }
}